.userinfo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;


    .user {
        display: flex;
        align-items: center;
        gap: 20px;




        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }


    .icons {
        display: flex;
        gap: 20px;


        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }


    }

    button {
        padding: 10px 20px;
        background-color: rgba(228, 47, 47, 0.664);
        color: white;
        font-weight: 500;
        border: none;
        cursor: pointer;
        border-radius: 5px;


        &.logout {
            background-color: rgba(62, 62, 207, 0.699);


            &:hover {
                background-color: rgb(62, 62, 207);
            }
        }
    }

}